.footer{
  background: $bg;
  padding-top: 120px;
}
.footer__content{
  margin-bottom: 100px;
}
.footer__inner{
  display: flex;
  justify-content: space-between;
}
.footer__col-title, .footer__form-title{
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  position: relative;
}
.footer__form-title{
  margin-bottom: 20px;
}
.footer__col-title:before{
  content: "";
  position: absolute;
  display: block;
  width: 51px;
  height: 3px;
  background-color: $green;
  left: 3px;
  bottom: -20px;
    }
.footer__col-text{
  max-width: 270px;
  margin-top: 50px;
  margin-bottom: 35px;
  color: #b7c3c8;
  font-size: 15px;
}
.footer__info{
  max-width: 213px;
  padding-left: 30px;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  &::before{
    content: "\f041";
    position: absolute;
    font-family: 'icomoon';
    color: $green;
    font-size: 18px;
    left: 0;
  }
  &+.footer__info{
    margin-top: 22px;
  }
}
.footer__info-phone{
  &::before{
    content: "\f095";
    position: absolute;
    font-family: 'icomoon';
    color: $green;
    font-size: 18px;
    left: 0;
  }
}
.footer__col-list{
  margin-top: 45px;
  padding-left: 25px;
  li{
    position: relative;
    &::before{
      content: "\f105";
      position: absolute;
      font-family: "icomoon";
      left: -15px;
      top: 5px;
      font-size: 18px;
      color: $green;
    }
    a{
      color: #b7c3c8;
      font-size: 15px;
      line-height: 36px;
    }
  }
}
.footer__social-list{
  margin-top: 65px;
  margin-bottom: 40px;
  li{
    display: inline-block;
    & + li{
      padding-left: 7px;
    }
  }
  a{
    width: 28px;
    height: 28px;
    background: url('../images/css_sprites.png') no-repeat;
  }
}

.footer__social-list .footer__social-twitter {
  background-position: -28px -28px;
}
.footer__social-list .footer__social-youtube {
  background-position: -56px -0px;

}
.footer__social-list .footer__social-pinterest {
  background-position: -0px -28px;
}
.footer__social-list .footer__social-linkedin {
  background-position: -28px -0px;
}
.footer__form{
  max-width: 300px;
  form{
    position: relative;
    width: 100%;
    display: block;
    input{
      color: #fff;
      border: 1px solid #000000;
      background-color: #2f3c43;
      padding: 15px 0 15px 15px;
      height: 40px;
      border-radius: 4px;
      &::placeholder{
        color: #697378;
        font-size: 14px;
      }
    }
    button{
      position: absolute;
      right: 0;
      top: 1px;
      width: 50px;
      height: 38px;
      background: $green;
      cursor: pointer;
      &:before{
        content: "\f124";
        font-family: "icomoon";
        font-size: 24px;
        color: #fff;
      }
    }
  }
}

.footer__copy{
  border-top: 1px solid #424d53;
  padding: 30px 0;
  &-text{
    text-align: center;
    color: #919699;
    font-size: 15px;
  }
}